[buildout]
parts =
    instance
    zopepy
    omelette

extends =
    http://dist.plone.org/release/5.2.3/versions.cfg
    versions-base.cfg

find-links +=
    https://eggs.imio.be/find-links/common


eggs =
    Plone
    Pillow

unzip = true

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[instance]
recipe = plone.recipe.zope2instance
#effective-user = zope
user = admin:admin
http-address = 8081
zserver-threads = 2
debug-mode = off
verbose-security = off
zope-conf-additional =
  %define FILESTORAGE ${buildout:directory}/var/filestorage
  %define BLOBSTORAGE ${buildout:directory}/var/blobstorage
environment-vars =
  PYTHON_EGG_CACHE ${buildout:directory}/python-eggs
  zope_i18n_compile_mo_files true
  TZ Europe/Brussels
  APPLICATION_ID IDEABOX
#  PLONE_CSRF_DISABLED True  # If deactivated this break mosaic

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} my.package
eggs =
    ${buildout:eggs}
    collective.easyform
    ideabox.policy
    collective.upgrade

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    collective.easyform
    ideabox.policy

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy


[debug-products]
eggs =
    Products.PrintingMailHost
    Products.PDBDebugMode
    zodbverify
